<mat-card class="mat-elevation-z4">
  <mat-card-content>
<!--
    <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodeToggle>
        <div class="column column--time">
          {{ node.call.totalTime }}
        </div>
        <div class="column column--time">
          {{ node.call.selfTime }}
        </div>
        <div class="column" [ngStyle]="{paddingLeft: paddingOf(node)}">
          {{ node.call.method }}
        </div>
      </cdk-tree-node>
    </cdk-tree>
-->
  </mat-card-content>
</mat-card>
