mat-card {
  margin: 0.66em;
}

cdk-tree {
  display: table;
  width: 100%;
  table-layout: fixed;
}

cdk-tree-node {
  display: table-row;
  cursor: pointer;
}

cdk-tree-node:hover {
  background: #eee
}

cdk-tree-node > .column {
  display: table-cell;
  padding: 0.33em;
}

.column--time {
  width: 5em;
  text-align: right;
}
