<mat-card *ngIf="graphConfig$|async as graphConfig">
  <mat-card-title>Config</mat-card-title>

  <mat-card-content class="config-content">

    <mat-checkbox [checked]="graphConfig.collapseRecursiveCalls"
                  (change)="onCollapseRecursiveCallsChanged($event.checked)">
      Collapse recursive calls
    </mat-checkbox>

    <mat-checkbox [checked]="graphConfig.collapseRuntimeCalls"
                  (change)="onCollapseRecursiveCallsChanged($event.checked)">
      Collapse runtime calls
    </mat-checkbox>
  </mat-card-content>
</mat-card>
