<mat-toolbar class="toolbar" color="primary">

  <div class="flex-spacer"></div>

  <button
    *ngIf="serviceId$|async as serviceId; else selectServicePlaceholder"
    mat-button [matMenuTriggerFor]="appMenu">{{ serviceId }}
  </button>

  <ng-template #selectServicePlaceholder>
    <button mat-button [matMenuTriggerFor]="appMenu">Select service</button>
  </ng-template>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item *ngFor="let service of availableServices$|async"
            (click)="onServiceSelectChange(service)">{{ service }}</button>
  </mat-menu>
</mat-toolbar>

<ng-container *ngIf="histogram$|async as histogram">
  <Histogram style="height:64px; width: 100%;" [histogram]="histogram"></Histogram>
</ng-container>

<router-outlet></router-outlet>
